<div
  class="container h-100 d-flex justify-content-center align-items-start mt-5"
>

  <h1>Thank you for providing us with your feedback! We will get back to you as
    soon as possible!</h1>
</div>