<div
  class="container h-100 d-flex justify-content-center align-items-start mt-5"
>

  <!-- content first row  -->
  <div class="container">
    <div class="row">
      <h1>Your donation save animals</h1>
      <hr />
    </div>

    <div class="container text-center mt-5">
      <div class="row">

        {{! My donation }}
        <div class="card col bg-body-tertiary me-4 p-3">
          <h3>My donation</h3>
          <p>
            Select the amount of you donnation:
          </p>
          <div class="contact-form mt-4">

            <div class="card form-check col-10 mb-3 d-inline-block ps-5">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault1"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                10 €
              </label>
            </div>

            <div class="card form-check col-10 mb-3 d-inline-block ps-5">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault2"
                checked
              />
              <label class="form-check-label" for="flexRadioDefault2">
                20 €
              </label>
            </div>

            <div
              class="card form-check justify-content-center col-10 mb-3 d-inline-block ps-5"
            >
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault2"
                checked
              />
              <label class="form-check-label" for="flexRadioDefault2">
                50 €
              </label>
            </div>

            <div class="card form-check col-10 mb-3 d-inline-block ps-5">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault2"
                checked
              />
              <label class="form-check-label" for="flexRadioDefault2">
                100 €
              </label>
            </div>

            <div class="card form-check col-10 mb-3 d-inline-block ps-5">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault2"
                checked
              />
              <label class="form-check-label" for="flexRadioDefault2">
                Type your amount
              </label>
            </div>
          </div>

        </div>

        {{! My contact details }}
        <div class="card col bg-body-tertiary me-4 p-3">
          <h3>My contact details</h3>
          <p>
            Please enter your contact details:
          </p>
          <div class="contact-form mt-4">
            <div class="form-group mb-3">
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  placeholder="First Name *"
                  name="fname"
                />
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="lname"
                  placeholder="Last Name *"
                  name="lname"
                />
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="col-sm-10">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Email *"
                  name="email"
                />
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="col-sm-10">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Address *"
                  name="email"
                />
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="col-sm-10">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Phone number *"
                  name="email"
                />
              </div>
            </div>
            <p>* Mandatory fields to benefit from your tax reduction and receive
              your tax receipt</p>
          </div>
        </div>

        {{! My payment details }}
        <div class="card col bg-body-tertiary me-4 p-3">
          <h3>My payment details</h3>
          <p>
            Select a payment method
          </p>

          <div class="col">
            <a class="card p-2 align-items-center mb-2" href="/">
              <img src="/images/master_card.svg" alt="" height="50" />
            </a>

            <a class="card p-2 align-items-center mb-2" href="/">
              <img src="/images/visa.svg" alt="" height="50" />
            </a>

            <a class="card p-2 align-items-center mb-2" href="/">
              <img src="/images/apple.svg" alt="" height="50" />
            </a>

            <a class="card p-2 align-items-center mb-3" href="/">
              <img src="/images/pay_paypal_icon.svg" alt="" height="50" />
            </a>

            <button class="btn btn-primary" type="submit">Validate payment</button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>