<div
  class="container h-100 d-flex justify-content-center align-items-start mt-5"
>

  <!-- content first row  -->
  <div class="container">
    <div class="row">
      <h1>Your donation save animals</h1>
      <hr />
    </div>

    <div class="container text-center mt-5">
      <div class="row">
        <div class="col bg-body-tertiary me-4">
          <h3>My donation</h3>
          <p class="fw-bold">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <div class="col bg-body-tertiary me-4">
          <h3>My contact details</h3>

        </div>
        <div class="col bg-body-tertiary me-4">
          <h3>My payment details</h3>
          <p class="fw-bold">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <img src="/images/donate2.jpg" class="img-fluid" />
    </div>
  </div>

</div>