<!-- body -->
<div
  class="container  d-flex justify-content-left align-items-center"
  style="
            background-image: url('/images/home00.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-size: 100%;
            height: 100vh
          "
>
  <div class="row ms-5">
    {{! col left  }}
    <div class="col h-100 align-items-left">
      <h1 class="mb-3">Adopt and Adore
      </h1>
      <h5 class="mb-4">
        Thousands of animals for adoption.
        <br />
        Come meet them, adopt,
        <br />
        support our animal protection mission
      </h5>
      <p class="font-italic mb-5">
        <i>"Being a hero to someone, even if it is a dog,
          <br />
          is a feeling like no other.
          <br />
          Giving someone a second chance at a happy life,
          <br />maybe the best gift you give yourself."
        </i>
      </p>
      <div class="d-block">
        <a
          class="btn btn-secondary"
          href="/pets/animalall"
          role="button"
        >See animals for adoption </a>
        
        <a class="btn btn-secondary ms-3" href="/donationform" role="button">
          Make a donation</a>
      </div>
    </div>

  </div>

</div>