<div class="container h-100 d-flex align-items-start mt-5">

  <h1 class="mb-3">
    My Space
    <hr />
  </h1>

  <form action="/favouritedAnimals" method="get">
    <button class="btn btn-primary ms-5" style="width: 400px">
      My favourited animals
    </button>
  </form>

</div>