{{! this page is to display search filters  }}

<div
  class="container h-100 d-flex justify-content-center align-items-start mt-5"
>
  <div class="row">

    {{! col left  }}
    <div class="col">
      <h1 class="mb-3">Who will be your future best friend?
        <hr />
      </h1>

      <div class="col mt-5">
        {{!  Animal Type }}
        <div class="dropdown mb-3">
          <label
            class="control-label col-sm-2"
            for="fname"
            style="width: 100px"
          >Type </label>
          <button
            class="btn btn-outline-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            style="width: 300px"
          >
            Select Type of Animal
          </button>
          <div
            class="dropdown-menu"
            aria-labelledby="dropdownMenuButton"
            style="width: 300px"
          >
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

        {{! Animal Gender}}
        <div class="dropdown mb-3">
          <label
            class="control-label col-sm-2"
            for="fname"
            style="width: 100px"
          >Gender</label>

          <button
            class="btn btn-outline-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            style="width: 300px"
          >
            Select Gender of Animal
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

        {{! Animal Age }}
        <div class="dropdown mb-3">
          <label
            class="control-label col-sm-2"
            for="fname"
            style="width: 100px"
          >Age</label>
          <button
            class="btn btn-outline-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            style="width: 300px"
          >
            Select Age of Animal
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

        {{! Animal Size  }}
        <div class="dropdown mb-3">
          <label
            class="control-label col-sm-2"
            for="fname"
            style="width: 100px"
          >Size</label>
          <button
            class="btn btn-outline-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            style="width: 300px"
          >
            Select Size of Animal
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

        {{! button Show me animals! }}
        <div class="d-block mt-5">
          <form action="/pets/animalall" method="GET">
            <button class="btn btn-primary" style="width: 400px">
              Show me animals!
            </button>
          </form>

        </div>

      </div>

    </div>

    {{! col right  }}
    <div class="col">
      <img
        src="/images/search-page.jpg
      "
        class="img-fluid rounded"
        alt=""
      />
    </div>

  </div>
</div>